<p>Ventas</p>
<p>lista-productos seleccionado por el cliente</p>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">ID</th>
        <th scope="col">Detalles</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col-2" >Acciones </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><img src="{{suelos.Imagen}}" alt="{{suelos.Nombre}}"></th>
        <th>1223456789</th>
        <td>{{suelos.Estilo}}</td>
        <td>{{suelos.Producto}}</td>
        <td>{{suelos.Precio}}</td>
        <th scope="col"><button>Ver</button><th>
            <th scope="col"><button>editar</button></th>
            <th scope="col"><button>eliminar</button></th>
      </tr>
      <tr>
        <th><img src="{{parquet.Imagen}}" alt="{{parquet.Nombre}}"></th>
        <th>1224567899</th>
        <td>{{parquet.Estilo}}</td>
        <td>{{parquet.Producto}}</td>
        <td>{{parquet.Precio}}</td>
        <th scope="col"><button>Ver</button><th>
            <th scope="col"><button>editar</button></th>
            <th scope="col"><button>eliminar</button></th>
      </tr>
      <tr>
        <th><img src="{{sala.Imagen}}" alt="{{sala.Nombre}}"></th>
        <th>12245678944</th>
        <td>{{sala.Estilo}}</td>
        <td>{{sala.Producto}}</td>
        <td>{{sala.Precio}}</td>
        <th scope="col"><button>Ver</button><th>
            <th scope="col"><button>editar</button></th>
            <th scope="col"><button>eliminar</button></th>
      </tr>
    </tbody>
  </table>
